body button:hover {
    cursor: pointer;
}

header {
    background-color: #ffffff;
    top: 0;
    left: 0;
    z-index: 100;
    width: 98%;
    padding: 10px 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

main {
    margin-top: 60px;
}

#frontpage {
    margin-left: 200px;
}
.left-elements {
    display: flex;
    align-items: center;
}

#country {
    margin-top: -20px;
    font-size: small;
}

.menu {
    margin-right: 2em;
}

#video-menu {
    margin-right: 2em;
}

.yt-logo {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    padding-left: 0.2em;
    font-weight: bold;
    color: #212121;
    text-decoration: none;
}

nav a {
    margin-right: 20px;
    color: #606060;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

nav a:hover {
    border-radius: 10px;
    background-color: lightgrey;
}

.dropdown.open-menu {
    max-height: 400px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.5s;
}

.dropdown {
    top: 40px;
    right: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #cfcfcf; */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    max-height: 0px;
    overflow: hidden;
}

.user-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name {
    margin: 10px;
}

.user-name p {
    font-weight: bold;
    color: #3e3e3e;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 10px;
}

.user-name a {
    color: #065fd4;
}

.google-account, .switch-account, .dropdown-buttons {
    display: flex;
    margin: 0;

    /* justify-content: center; */
    align-items: center;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    border: none;
}

.sign-up i {
    margin-top: 2px;
}

.searchbar input {
    width: 500px;
    border-style: solid;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    /* margin-right: 1em; */
    border-color: #cbcbcb;
    border-width: 1px;
}

.searchbar input:focus {
    border-style: solid;
}

.searchbar {
    display: flex;
}

.searchbar a {
    border-radius: 5em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-bottom: 6px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px outset buttonborder;
    border-color: #cbcbcbcb;
    border-left-color: #cbcbcbcb;
    background-color: #f3f3f3;
    margin-left: -6px;
    border-style: solid;
}

.searchbar a:hover {
    background-color: lightgrey;
}

.sidebar button, #video-sidebar button {
    display: block;
    background-color: white;
    border: none;
    text-align: center;
    padding: 10px 50px;
    padding-left: 20px;
    font-size: medium;
    font-weight: 500;
}

#video-sidebar {
    display: none;
}

#video-sidebar:first-of-type {
    padding-top: 10px;
}

.sidebar button:first-child {
    margin-top: 10px;
}

.sidebar button:hover {
    background-color: #efefef;
    border-radius: 20px;
}

.sidebar, #video-sidebar {
    top: 56px;
    left: 0;
    background-color: #ffffff;
    position: fixed;
    height: 100vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    float: left;
    z-index: 10;
}

.sidebar .sidebar-min {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: none;
}

#show-more {
    display: none;
}

main {
    overflow: hidden;
}

.menu {
    padding-top: 5px;
    padding-bottom: 3px;
    border: none;
    background-color: white;
}

.menu:hover {
    background-color: lightgrey;
    border-radius: 50%;
}

.tags button{
    padding: 10px;
    margin: 7px;
    background-color: #cfcfcf; 
    border-radius: 10px;
    border: none;
}

.tags button:hover {
    border-radius: 10px;
    background-color: #cfcfcf88;
}

.tags button:first-child {
    margin-left: 20px;
    margin-top: 20px;
}

.video-grid {
    float: left;
    margin: 25px;
    display: grid;
    align-items: center;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}

.video {
    display: block;
    width: 240px;
}

.video img {
    border-radius: 10px;
}

.video img:hover{
    transition:all 0.2s;
    border-radius: 0%;
}

.user {
    margin-top: 10px;
    margin-right: 10px;
}

.video-info {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items:center;
}

.video-info img {
    margin-bottom: 40px;
    margin-left: -5px;
    margin-right: 10px;
    border-radius: 30px;
}

.video-text {
    float: left;
    
}

.video-text p {
    margin: 0px;
    margin-bottom: 5px;
    color: #0f0f0f;
    text-decoration: none !important;
}

.video-title {
    font-size:16px;
    font-weight: 1000;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.video-uploader {
    font-size: small;
    color: #606060 !important;
}

.video-stats {
    font-size: small;
    color: #606060 !important;
}

@media (max-width: 768px) {
    /* For mobile phones: */


    .searchbar a {
        border-radius: 30px;
        padding-bottom: 0px;
        padding: 10px;
        border: none;
    }

    .tags {
        display: none;
    }

    .sidebar {
        display: none;
    }

    #frontpage {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px !important;
    }

    .video .thumbnail {
        /* aspect-ratio: 16/9; */
        width: 350px;
        height: auto;
    }

    .video {
        width: 100%;
    }

    #searchfield {
        display: none;
    }

    .user-and-video-info {
        align-items: center;
    }

    .video-page-container {
        display: block !important;
        align-items: center;
    }

    .youtube-video {
        height: 100%;
    }

    .video-and-comments {
        width: 100% !important;
        margin-left: 0px !important;
    }

    .aside {
        margin: auto;
        width: 50%;
    }


    .suggested-container {
        display: flex;
        flex-direction: column;
        margin-right: 15px !important;
        width:90%;
        padding: 0px !important;
    }


    .suggested-video {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin: auto;
        width: 100%;
        display: block !important;
    }

    .suggested-video img {
        width: 100%;
        height: auto;
    }

    .user-subs {
        width: 20%;
    }

    .feedback-buttons {
        margin-bottom: 0px;
        margin-right: 20px;
    }

    .feedback-buttons {
        margin: 0;
    }

    .omittable-button {
        display: none;
        width: 10%;
    }

    #description-text-minimal {
        font-size: small;
    }

    .comment-text {
        font-size: small;
        margin-bottom: 0px;
    }

    .searchbar a:hover + #searchfield {
        display: block;
    }
}
  

/* Video page CSS */

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 10px;
}  


.video-page-container { 
    display: flex;
    justify-content: space-between;
}

.video-and-comments {
    margin-top: 25px;
    margin-left: 45px;
    width: 65%;
}

#video-page-title {
    margin-top: 5px;
    font-size: larger;
    font-weight: bolder;
}

iframe {
    border-radius: 10px;
}

.user-and-video-info {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    margin-right: 10px;
}

#user-info-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}

#menu-pfp {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user-info-button img {
    border-radius: 50%;
}

/* .circular {
    border-radius: 50%;
} */

.acc-info p {
    margin: 0px;
}

#acc-subs {
    font-size: small;
}

#acc-name {
    font-weight:600;
}

#like-button {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: -6px;
}

#dislike-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left:1px solid #c2c2c2
}


.feedback-buttons button:hover {
    background-color: #cfcfcf88; 
}

.feedback-buttons button, #subscribe, #sort-by{
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    background-color: #cfcfcf; 
    border-radius: 20px;
    border: none;
}


.user-subs {
    display: flex;
    align-items: center;
}

#subscribe {
    margin-left: 30px;
    color: white;
    background-color: #202020;
}

#subscribe:hover {
    background-color: #3f3f3f;
}

.aside {
    width: 30%;
}

.tag-container {
    overflow: auto;
    white-space: nowrap;
}

.suggested-container {
    height: 100%;
    padding: 10px;
    margin-right: 50px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    float: right;
}

.suggested-video img {
    border-radius: 10px;
    margin-right: 10px;
}

.suggested-video {
    margin-top: 10px;
    display: flex;
}

.description {
    margin-top: 11px;
    padding: 5px;
    padding-top: 0px;
    padding-left: 10px;
    border-radius: 8px;
    background-color: #f3f3f3;
}

.description-data {
    display: flex;
    margin-bottom: -10px;
}

#description-date {
    font-size: small;
    font-weight: 600;
    margin-right: 20px;
}

#description-tags {
    font-size:small;
    font-weight: 600;
    color:#606060;
}

#description-text {
    margin-top: 3px;
    font-size: medium;
    color:#000000;
}

#read-more {
    font-size: small;
    font-weight: 600;
}

.comments {
    display: flex;
    align-items: center;
}

.comments-data {
    margin-left: 10px;
}

.comments img {
    margin-bottom: 80px;
}

.comment-name-date {
    display: flex;
    margin-bottom: -20px;
}

.comment-name {
    margin-right: 10px;
    color: #000000;
    font-weight: 600;
}

.comment-date {
    font-size: small;
    margin-top: 19px;
    color: #606060;
}

#Comments-title {
    font-size: large;
    font-weight: 900;
}


.comment-title {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#sort-by {
    margin-left: 20px;
    background-color: white;
    font-weight: 600;
}

#sort-by:focus {
    background-color: #dfdfdf;
}

.feedback {
    display: flex;
    padding: 0px;
}

.comment-feedback {
    background-color: #ffffff;
    border: none;
}

.comment-feedback:hover, .comment-feedback:focus {
    background-color: #c2c2c2;
}


.comment-area {
    display: flex;
    align-items: center;
}

#comment-writer {
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    width: 55vw;
    
}

#comment-writer:focus {
    outline: none;
    border-bottom: 1px solid #575757;
    transition: border 0.3s ease;
}

.comment-write {
    display: block;
}

.comment-submit {
    display: flex;
    justify-content: space-between;
}

.comment-submit button {
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.comment-submit button:hover{
    background-color: #cbcbcb;
}

/* .comment-cancel button:focus{
    display: flex;
} */

.comment-submit button {
    margin: 10px;
}

/* Upload Video CSS */
.upload-yt {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.video-upload-form, .signup-form, .login-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    margin: 0 auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.login-form p, .signup-form p {
    font-weight: bold;
    text-align: center;
    color: red;
}

.video-upload-form label, .signup-form label, .login-form label {
    font-family: 'Monsterrat';
    font-weight: bold;
    color: #606060;
    font-size: x-large; 
}

.video-upload-form button, .signup-form button, .login-form button {
    padding: 10px 30px 10px 30px;
    font-size: large;
    font-family: 'Montserrat';
    background-color: rgb(234, 234, 234);
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}


/* Sign Up Code */
